.btn-flat{
    margin-left: 0 !important; 
    margin-right: 0 !important;
}
.navbar-sticky{
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 4px -8px black;
}
nav{
    box-shadow: none;
}
.homeSlider img, .parallax>img{
    filter: brightness(0.6);
}
.homeSlider{
    height:100vh;
}
header{
    height:50px;
    
}
.wrapper{
    overflow: scroll;   
}

.carousel{
    min-height:250px;
}
.carousel-item{
    padding:10px 20px;
}
.highlighted{
    margin-top:-100px;
}
.showcase{
    margin-top:-100px;
    padding-bottom: 20px;
}
.card>.card-image{
    height:260px;
    overflow: hidden;
}
.card-title{
    font-weight: 500 !important;
}
.navbar-sticky{
    position: sticky;
    top:0;
    z-index:500;
}
.zIndex{
    z-index: 500;
}
.justify-content{
    justify-content: center;
}
.valign-wrapper{
    height:100%;
}

.logoContainer>img{
    padding-top:5px;
    width:60px;
}
.headingContainer{
    margin-left: 50px;
    display: flex;
    position: fixed;
    z-index:501;
    float:left;
}
.headingContainer>h4, .headingContainer>h5 {
    margin-top: 11px;
    text-shadow: 2px 2px 15px black;
    color: white;

}
.caption{
    margin-top:20vh;
}
.materialboxed{
    margin:10px;
}
.social{
    position: relative;
    min-height:100px;
    top:-20px !important;
    font-size: 40px;
    overflow: hidden;
}
.social i{
padding:0 10px;
}
















@media screen and (max-width: 600px) {
   .highlighted{
       margin-top:0;
   }
   .logoContainer>img{
    padding-top:5px;
    width:50px;
}

  }

  @media screen and (max-width: 992px) {
    .navbar-sticky{
    position: fixed;
    top:0;
    width:100%;
    z-index:500;
    background:white;
}
#hamberger{
    color:black !important;
}
.showcase{
    margin-top:0px;
}
  }


